@import '../../shared/style/colour-theme.scss';
@import '../../shared/style/font.scss';
@import '../../shared/style/util.scss';

.AboutUs {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    justify-content: space-around;
    padding: 5%;
}

.about-us-col-1 {
    margin-right: 10%;
    flex: 3;
    margin-left: 5%;
    h1 {
        @include industry-bold();
        font-size: calc(min(0.7in, 8vw));
        color: $lavender;
    }
    h2 {
        @include industry-bold();
        font-size: calc(min(0.4in, 4vw));
        color: $teal;
        padding-top: 1px;
        margin-top: -3%;
        margin-left: 0.5%;
    }
    .about-us-with-dec {
        display: flex;
        p {
            @include open-sans();
            @include glassmorphism();
            border-radius: 8px;
            padding: calc(min(30px, 10%));
            color: $red;
            background-color: $gold;
            line-height: 150%;
            font-size: calc(min(0.5in, 2vh));
            width: 60vw;
        }
        .about-us-dec {
            max-width: 7vw;
        }
        #about-us-cone {
            transform: rotate(-15deg);
            max-width: calc(max(1in, 5vw));
            margin-top: -60%;
        }
        #about-us-donut {
            transform: rotate(30deg);
            max-width: calc(max(1in, 5vw));
            margin-left: -5%;
        }

        #about-us-sphere {
            max-width: calc(max(1in, 4vw));
            margin-left: -60%;
            margin-top: calc(440px - 20vw);
        }
    }
}

.about-us-col-2 {
    margin-top: 5%;
    margin-left: 10px;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        padding: 3%;
        max-height: 40vh;
    }
    img:nth-child(2) {
        padding-top: 10%;
        max-width: 20vw;
    }
    @media screen and (max-width: 960px) {
        display: none;
    }
}
