@import '../../shared/style/colour-theme.scss';
@import '../../shared/style/font.scss';
@import '../../shared/style/util.scss';

.FAQ {
    display: flex;
    flex-direction: row;
    padding: 5%;
    .title{
        @include industry-bold();
        margin-left: -30%;
    }
    
    .faq-col-1 {
        flex: 1;
        max-width: 60%;
    }
    
    .faq-col-2 {
        flex: 1;
        max-width: 60%;
    }
    
    .faq-col-3 {
        flex: 5;
        max-width: 80%;
        margin-left: 20%;
        .faq-col-3-1{
            padding-left: 10%;
            & > *{
                @include glassmorphism();
            }
        }
        
        .faq-col-3-2{
            max-width: 80%;
            & > *{
                @include glassmorphism();
            }
        }
    }

    #FAQ-cube{
        margin-top: -40vh;
        margin-left: calc(-10vw);
        min-width: 80vw;
    }
    
    #FAQ-rocket{
        max-width: calc(max(100px,80%));
        margin-top: 70%;
        margin-left: -130%;
        z-index: 3;
    }

    h1 {
        @include industry-bold();
        font-size: calc(min(0.7in, 8vw));
        color: $lavender;
        margin-left: -18%;
        z-index:1;
    }
}