@import "../../shared/style/colour-theme.scss";
@import "../../shared/style/font.scss";

.Landing {
    position: relative;
}
.landing-main {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 1;
    min-height: 100vh;
}

.landing-bg-parallax {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
}

.landing-bg {
    opacity: .8;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-clip: unset;
    background-position: center;
    min-width: 100%;
    min-height: 130vh;
    z-index: 0;
    overflow: visible;
    @media screen and (max-width: 1280px) {
        background-size: 1000px;
        min-width: 1000px;
    }
}

.landing-col1 {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.landing-col1 > * {
    margin-bottom: 5px;
    margin-top: 5px;
}

.landing-col1 > .SponsorButton {
    margin-top: 40px;
}

.landing-col1 .landing-hc-title {
    @include industry-bold();
    white-space: nowrap;
    color: $darkgray;
}

.landing-col1 .landing-hc-title-small {
    font-size: calc(min(1.2in, 6vh));
    margin-bottom: -2%;
}

.landing-col1 .landing-hc-title-medium {
    font-size: calc(min(1.3in, 10vh));
    margin: 4%;
}

.landing-col1 h2 {
    color: dodgerblue;
    @include industry-bold();
    font-size: normal;
}

.landing-date {
    @include industry-bold();
    font-size: calc(min(1.2in, 6vh));
    color: $lavender;
    margin-bottom: 10px;
    margin-top: 0%;
}

.landing-col1 > p {
    color: $teal;
    margin-top: 10px;
    line-height: 150%;
    @include open-sans();
    text-align: center;
}

.landing-col2 {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    .apply-button {
        margin-top: 20px;
        color: $red;
        background-color: $gold;
        text-decoration: none;
        border-radius: 5px;
        // min-height: fit-content;
        // min-width: fit-content;
        height: max-content;
        width: max-content;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        @include industry-bold();
        font-size: xx-large;
        &:hover {
            color: $darkgray;
            background-color: $teal;
            border-radius: 5px;
        }
        @media screen and (max-width: 1000px) {
            font-size: large;
            padding: 10px;
            height: max-content;
        }
    }
    .apps-closed {
        background-color: $gold;
    }
    .apps-wl {
        background-color: transparent;
        font-size: large;
        padding: .5vw;
        margin-top: 10px;
        &:hover {
            color: $teal;
            text-decoration: underline;
            background-color: inherit;
        }
    }
    .hide {
        display: none;
    }
    .apply-button:hover + .hide {
        display: block;
        color: $lavender;
        margin-top: 10px;
        @include open-sans();
        text-align: center;
    }
}


@media screen and (max-width: 1000px) {
    .landing-main {
        flex-direction: column;
        justify-content: center;
    }
    .landing-col1 {
        flex:none;
        margin-bottom: 0%;
        .landing-hc-title-small {
            font-size: calc(min(1.2in, 5vh));
            margin-bottom: -2%;
        }
        p {
            display: none
        }
    }
    .landing-col2 {
        flex: none;
        margin-right: 0%;
        height: auto;
    }
    .landing-date {
        @include industry-bold();
        font-size: calc(min(1.2in, 4vh));
        color: $lavender;
    }

}