@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "../../shared/style/colour-theme.scss";
@import "../../shared/style/font.scss";


.PastPhotos {
    margin-left: 1%;
    z-index: 1;

    h1 {
        @include industry-bold();
        font-size: calc(min(0.7in, 8vw));
        color: $lavender;
        margin-left: 9%;
    }
    h2 {
        @include industry-bold();
        font-size: calc(min(0.4in, 4vw));
        color: $teal;
        margin-top: -3%;
        margin-left: 9.3%;
    }
}