$lightorange: rgb(255, 241, 225);
$darkgray: rgb(72, 72, 77);
$lavender: rgb(163, 106, 229);
$teal: rgb(67, 170, 162);
$red: rgb(244, 78, 102);
$gold: rgba(229, 182, 65, 0.5);
$white: rgb(255, 255, 255);