@mixin industry-bold(){
    font-family: industry, sans-serif;
    font-weight: 700;
    font-style: normal;
};
@mixin industry-simple(){
    font-family: industry, sans-serif;
    font-weight: 100;
    font-style: normal;
};

@mixin industry-italic() {
    font-family: industry, sans-serif;
    font-weight: 700;
    font-style: italic;
};
@mixin industry-italic-bold() {
    font-family: industry, sans-serif;
    font-weight: 400;
    font-style: italic;
};
@mixin helvetica() {
    font-family: Arial, Helvetica, sans-serif;
}

@mixin open-sans() {
    font-family: "Open Sans";
}