@import "../../shared/style/util.scss";
@import '../../shared/style/font.scss';
@import '../../shared/style/colour-theme.scss';


.FAQTextBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    border-radius: 5px;
    line-height: 150%;
    font-size: calc(min(0.5in, 2vh));
    background-color: $gold;
}

.FAQ-button {
    p {
        @include industry-simple();
        color: $red;
        font-size: calc(min(0.2in, 3vw));
        text-align: left;
    }
    max-width: 800px;
    border: 1px solid rgba(3, 169, 244, 0);
    border-radius: 10px;
    background-color: $lightorange;
}

.ReactCollapse--collapse {
    //max-width: 800px;
    //border: 1px solid rgba(3, 169, 244, 0.3);
    //border-radius: 10px;
    //background-color: rgba(100, 255, 100, 0.1);
    transition: height 500ms;
  }

.text{
    @include open-sans();
    color: $teal;
    font-size: calc(min(0.2in, 3vw));
    padding: 5%;
}
