.Intro-Sponsor-Logo-body {
    display: block;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: -15vw;
    margin-left: 25vw;
}

.intro-sponsor-logo-body {
    width: 50vw;
    padding-bottom: 10px;
}