.Intro-Sponsor-Logo-body {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: calc(min(-30vh, -150px));
    margin-left: calc(max(40vh, 200px));
}

.intro-sponsor-logo-body {
    height: calc(max(30vh, 150px));
    padding-bottom: 10px;
}