@import "../../shared/style/colour-theme.scss";
@import "../../shared/style/font.scss";
@import "../../shared/style/util.scss";

.PastPhotoItem {
    min-height: 50vh;
    min-width: 30vw;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    //@include glassmorphism();
    margin: 40px;
    .past-photo-item__hover {
        min-height: inherit;
        border-radius: inherit;
        background-color: rgba($color: #000000, $alpha: 0.4);
        @include industry_bold();
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        visibility: hidden;
    }
    &:hover {
        .past-photo-item__hover{
            visibility: visible;
        }
    }
}


