@import "../../shared/style/colour-theme.scss";
@import "../../shared/style/font.scss";
@import "../../shared/style/util.scss";

.Timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    @include glassmorphism();
    border-radius: 12px;
    min-width: calc(min(1.5in, 15vh)*6);
    min-height: 10%;
    background-color: $gold;
}

.Timer > * {
    @include helvetica();   
}

.Timer h1 {
    color: $red;
    font-size: calc(min(1.5in, 15vh));
    margin-bottom: 0%;
    margin-top: 0%;
}

.Timer h3 {
    margin-top: 0%;
    margin-bottom: 0%;
    color: $red;
}

@media screen and (max-width:1000px) {
    .Timer {
        h1 {
            font-size: xx-large;
        }
        h3 {
            font-size: large;
        }
        min-width: fit-content;
    }
}