@import '../../shared/style/colour-theme.scss';

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    max-height: 50px;
    background-color: $lightorange;
}

header * {
    color: rgb(72, 72, 77);
}