.Body {
    background-color: none;
    color: black;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.Body > * {
    flex: 1;
}

.Body > .Landing {
    flex: 2;
}