@import '../shared/style/util.scss';
@import '../shared/style/font.scss';
@import '../shared/style/colour-theme.scss';

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
        padding-top: 5%;
    }
    .JoinUs {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            @include industry-bold();
            color: $teal;
            font-size: calc(min(0.4in, 4vw));;
        }
        .MailingListForm {
            height: 5vh;
        }
    }
    .SocialMedia {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 30vw;
        a {
            display: block;
            border-radius: 50%;
            img {
                width: 5vw;
            }
            padding: 10%;
        }
    }
}