@import "../../shared/style/font.scss";

.Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HC-logo {
    height: calc(max(6vh, 35px));
    margin-right: 10px;
}

.Logo h1 {
    white-space: nowrap;
    @include industry-bold();
    font-size: calc(min(0.5in, 3vh));
}

@media screen and (max-width:480px) {
    .HC-logo {
        height: 50px;
    }

    .Logo h1 {
        display: none;
    }
}