@import "../../shared/style/font.scss";

.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
}

.Nav > * {
    padding: 15%;
    white-space: nowrap;
    @include industry-simple();
}

.Nav > .SignUp {
    margin-left: 5%;
}